.mainDiv{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:12vmax;
    height:70vmax;
    width: 40vmax;
    justify-content:space-evenly;
    align-items: center;
  }
  .gifDiv{
height:25vmax;
width: 25vmax;
background-image: url(https://media.giphy.com/media/3nozJyPYl195u/giphy.gif);
background-size: contain;
  }
  
  .birthdayText {
      backdrop-filter: blur(5px);
    height: 25vmax;
    width: 35vmax;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3vmax;
    border: 0.1vmax solid rgba(255, 255, 255, 0.131);
    box-shadow:inset 0.5vmax 0.5vmax 0.5vmax rgba(0, 0, 0, 0.751);
  }
  .happyDiv{
    height: 30%;
    width: 65%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-wrap: wrap;
    font-size: 4vmax;
    color: white;
    text-shadow:0.5vmax 0.5vmax 0.5vmax rgba(0, 0, 0, 0.751);
    -webkit-text-stroke: 0.06wvmax black;
  }
  .birthdayTextBorder{
    height: 8vmax;
    width: 26vmax;
    display: flex;
    border-radius: 20vmax;
  justify-content: center;
  align-items: center;
  border: 0.8vmax solid rgba(255, 255, 255, 0.546);
  box-shadow:0.5vmax 0.5vmax 0.5vmax rgba(0, 0, 0, 0.751); 
  

  }
  .birthdayTextSpanDiv{
    height: 8vmax;
    width: 26vmax;
    display: flex;
  justify-content: center;
  align-items: center;
 border-radius: 20vmax;
 box-shadow:inset 0.9vmax 0.5vmax 0.5vmax rgba(0, 0, 0, 0.751);
 
  }
  .birthdayText span{
    border-radius: 20vmax;
    color: white;
    text-shadow: none;
    animation-name: blink;
    font-size: 6vmax;
      animation-duration: 10s;
      animation-timing-function: steps(1);
      animation-iteration-count: infinite;
  }